.Content {
    width: 100vw;
    height: 100vh;
}

.Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
}

/*Box Content*/

.Laptop {
    width: 95%;
    margin: 10px
}

.Celular {
    width: 40%
}

.Iphone:hover {
    opacity: 0.6
}

.MacBook:hover {
    opacity: 0.6
}

@media screen and (max-width: 900px) {
    .Laptop {
        width: 80%
    }
    .Celular {
        width: 50%
    }
}