.intro {
  width: 40vw;
  height: 25rem;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 100%;
  height: 1.87rem;
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0px 0px;
  animation: aparecer 2s normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bar div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.4rem;
  animation: aparecer 2s normal;
}
.bar div:hover {
  opacity: 0.4;
}

.TextContainer {
  width: auto;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
}

.TextContainer h1 {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--text-primary);
}

.TextContainer p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 1rem;
  line-height: 1.5;
  color: var(--text-secondary);
  animation: aparecer 2s normal;
}

.Links {
  padding: 1rem;
}

.Links a {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--text-primary);
  text-decoration: none;
  padding: 1rem;
}

.TextContainer a{
  color: var(--text-primary);
  text-decoration: none;
}