/* Versao Mobile*/
.GridFrame {
    display: block;
}
.web {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
}
.ContainerPc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.AssetsMac {
    width: 80%;
}
.mobile {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
}
.ContainerMobile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AssetsIphone {
    width: 60%; 
}
.ContainerDesc {
    width: 100%;
    padding-bottom: 1rem;
}
/* Ambos */
.botao {
    width: 35%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    border: 0;
    border-radius: 7px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);  
}
.botao a {
    font: 'Inter' sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--primary-color);
}
.botao:hover {
    opacity: 0.7;
    cursor: pointer;
}
.title {
    width: 100%;
}
.title h1 {
    font: 'Inter' sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    margin-left: 2rem;
    margin-bottom: 0;
}
.title p {
    font: 'Inter' sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 2rem;
    margin-top: 0;
    margin-right: 8px
}
.titledesc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.titledesc p {
    font: 'Inter' sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}
#boxID {
    width: 80%;
    height: 100%;
    
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    
    background: var(--primary-color);

}

/* Versao Desktop */
@media (min-width: 800px) {
    .GridFrame {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 5rem;
        width: 100%;
        height: 62.5rem;
        padding-top: 3.125rem;  
        border: 0;
    }
    .BottomBar {
        grid-column-start: 1;  /* Qual coluna comeca*/
        grid-column-end: 5;  /* Qual coluna termina */
        grid-row-start: 10;  /* Qual linha comeca*/
        grid-row-end: 11;  /* Qual linha termina*/
    }
    /* Projetos Web */
    .web {
        grid-column-start: 1;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 1;  /* Qual linha comeca*/
        grid-row-end: 2;  /* Qual linha termina*/
    }
    .box1 {
        display: flex;
        justify-self: center;
        grid-column-start: 2;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 2;  /* Qual linha comeca*/
        grid-row-end: 3;  /* Qual linha termina*/
    }
    .box2 {
        display: flex;
        justify-self: center;
        grid-column-start: 3;  /* Qual coluna comeca*/
        grid-column-end: 4;  /* Qual coluna termina */
        grid-row-start: 2;  /* Qual linha comeca*/
        grid-row-end: 3;  /* Qual linha termina*/
    }
    .box3 {
        display: flex;
        justify-self: center;
        grid-column-start: 2;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 3;  /* Qual linha comeca*/
        grid-row-end: 4;  /* Qual linha termina*/
    }
    .box4 {
        display: flex;
        justify-self: center;
        grid-column-start: 3;  /* Qual coluna comeca*/
        grid-column-end: 4;  /* Qual coluna termina */
        grid-row-start: 3;  /* Qual linha comeca*/
        grid-row-end: 4;  /* Qual linha termina*/
    }   
    /* Projetos Mobile */
    .mobile {
        grid-column-start: 1;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 4;  /* Qual linha comeca*/
        grid-row-end: 5;  /* Qual linha termina*/
    }.box5 {
        display: flex;
        justify-self: center;
        grid-column-start: 2;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 5;  /* Qual linha comeca*/
        grid-row-end: 6;  /* Qual linha termina*/
    }
    .box6 {
        display: flex;
        justify-self: center;
        grid-column-start: 3;  /* Qual coluna comeca*/
        grid-column-end: 4;  /* Qual coluna termina */
        grid-row-start: 5;  /* Qual linha comeca*/
        grid-row-end: 6;  /* Qual linha termina*/
    }
    .box7 {
        display: flex;
        justify-self: center;
        grid-column-start: 2;  /* Qual coluna comeca*/
        grid-column-end: 3;  /* Qual coluna termina */
        grid-row-start: 3;  /* Qual linha comeca*/
        grid-row-end: 4;  /* Qual linha termina*/
    }
    .box8 {
        display: flex;
        justify-self: center;
        grid-column-start: 3;  /* Qual coluna comeca*/
        grid-column-end: 4;  /* Qual coluna termina */
        grid-row-start: 3;  /* Qual linha comeca*/
        grid-row-end: 4;  /* Qual linha termina*/
    }
    
       
    /* WEB */
    .web {
        margin-left: 5rem;
        font-size: 2rem;
    }
    .AssetsMac {
        width: 100%;
    }
    .ContainerPc {
        width: 60%;
        
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .ContainerDesc {
        width: 40%;
        padding-bottom: 1rem;
        margin-bottom: auto;
        margin-top: auto;
    }
    
    /* MOBILE */
    .mobile {
        margin-left: 5rem;
        font-size: 2rem;
    }
    .AssetsIphone {
        width: 60%  ;
    }
    .ContainerMobile {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
       
    /* Ambos */
    .botao {
        width: 10rem;
        height: 2.5rem;
    }
    
    .botao a {
        font-size: 1.25rem;
    }
    .title h1 {
        font-size: 2.25rem;
        margin-left: 1.25rem;
        margin-bottom: 0;
    }
    .title p {
        font-size: 1.5rem;
        margin-left: 1.25rem;
        margin-top: 0;
        margin-right: 0.5rem
    }
    .titledesc {
        margin-top: 1.25rem;
        margin-bottom: 3.125rem;
    }
    .titledesc p {
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    #boxID {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-bottom: 0;
        padding: 1rem
    }
    
}

