:root { 
    --background: #ffff;
    --primary-color: #F5F5F5;
    --secondary-color: #262626;
    --text-color: #635F5F;
}

body {
    font-family: 'Inter', sans-serif;
    border: 0;
    margin: 0;
    background-color: var(--background);
    background-image: 0;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}
