body {
    font-family: 'Inter', sans-serif;
    background: #151515;
    border: 0;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 5px;
}
